{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Signin</title>
   
  </head>
  <body>
    <div class="hero team">
      {% include "navbar.html" %}
      <div class="content">
        <h1>Change Your Password</h1>
      </div>
    </div>
    <div class="change-password-container">
      <form method="post" class="form" id="form">
        {% csrf_token %} {% if messages %} {% for message in messages %}
        <div class="alert alert-info">{{ message }}</div>
        {% endfor %} {% endif %}
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="new_password" class="form-control" />
        </div>
        <div class="form-group">
          <label for="password">Reconfirm Password</label>
          <input
            type="password"
            name="reconfirm_password"
            class="form-control"
          />
        </div>
        <input type="hidden" name="user_id" value="{{ user_id }}" />
        <button class="btn" type="submit">Submit</button>
      </form>
    </div>
    <!-- Footer -->
    <footer>
      <h4>&copy; 2024 EWU</h4>
    </footer>
  </body>
</html>
