{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Signin</title>
         <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      .hero.team {
        flex: 1;
      }

      footer {
        margin-top: auto;
        text-align: center;
        padding: 20px 0;
        width: 100%;
      }
    </style>
    </head>
    <body>
        <div class="hero team">
            {% include "navbar.html" %}
            <div class="content">
                <h1 style="font-size: 50px;" >Reset Your Password</h1>
            </div>
        </div>
        <div class="forgot-password-container">
            <form class="form" method="post" id="form">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}<div class="alert alert-info">{{ message }}</div>{% endfor %}
                {% endif %}
                <div class="form-group">
                    <label for="password">Username</label>
                    <input type="text" name="username_or_email" class="form-control">
                </div>
                <button class="btn" type="submit">Submit</button>
            </form>
        </div>
        <!-- Footer -->
        <footer>
            <h4>&copy; 2024 EWU</h4>
        </footer>
    </body>
</html>
